$font-primary: Montserrat, sans-serif;
$font-secondary: Lora, serif;

$weight-normal: 400;
$weight-bold: 600;

$first: #f5f5f5;
$second: #3f3f44;
$third: #5f7161;
$fourth: #fcf8e8;
$fifth: #3e4940;
$black: #121212 ;
$sixth: #eebb4d;
$seventh: #96bb7c;
$eighth: #f9c4aa;

// PortfolioV2
$yellow: #F5D061;
$white: #F5F5F5;
$grey: #ccc;
$red:#CF4647;
