.home_v2 {
  background-color: $black;

  .box {
    @include responsive(desktop) {
      margin-top: 0;
      width: calc(100% - 2rem);
      max-width: 100%;
      padding: 1rem;
      grid-template-columns: repeat(2, 1fr);
    }

    @include responsive (desktopLg) {
      max-width: 40%;
    }

    @include responsive (desktopXl) {
      max-width: 50%;
    }

    &--tools {
      @include responsive(desktopXl) {
        max-width: 60%;
      }
    }
  }

  .about {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;

    &__title {
      color: $white;
      font-size: 2rem;
      padding: 2rem;
      border-radius: 1rem;
      text-shadow: 0 0 1px $white,
        0 0 2px $white,
        0 0 3px $yellow;


      strong {
        color: $yellow;
        font-size: 3rem;
        text-shadow: none;
      }
    }
  }

  .tools {
    display: flex;
    column-gap: 2rem;
    margin-bottom: 2rem;
    background-color: $yellow;
    border-radius: 2rem;
  }

  .projects {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
  }
}