.button-third {
  border: none;
  font-size: 1rem;
  background-color: var(--color-first);
  transition: all 0.25s ease-out;
  &:hover {
    scale: 1.1;
  }
}

.button-primary {
  &:active {
    scale: 1.1;
  }
}
