@use "../abstracts/mixins";
@use "../abstracts/variables" as var;

.logo {
  align-self: center;
  a {
    @include mixins.logo;
    color: white;
    font-size: 2.5rem;
  }
  p {
    font-family: var.$font-secondary;
    letter-spacing: 1rem;
  }
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    padding: 1rem 0;
    a,
    span {
      font-size: 1.5rem !important;
    }
    p {
      letter-spacing: 0.25rem;
    }
  }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    padding: 1rem 0;
    a,
    span {
      font-size: 1.5rem !important;
    }
    p {
      letter-spacing: 0.25rem;
    }
  }
}
.project {
  cursor: default !important;
  padding-block: 3rem 0 !important;
  h2 {
    margin-top: 0;
  }
  .bar {
    list-style: none;
    width: 10vw;
  }
  .Footer {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    border-top: 1px solid var.$first;
    cursor: default !important;
  }
  @media only screen and (max-width: 600px) {
    h2 {
      margin-top: 2rem;
    }
    .bar {
      width: calc(90vw - 4rem);
      margin-inline: 2rem;
    }
    .Footer {
      margin-inline: 2rem;
    }
  }
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    h2 {
      font-size: 1.25rem;
    }
  }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    h2 {
      font-size: 1.5rem;
    }
  }
}
.list {
  .socmedFooter {
    width: 20vw;
  }
  .socmed {
    width: 14vw;
    margin: 0;
    a {
      color: var.$first;
      i {
        font-size: 2.5rem;
      }
    }
  }
  @media only screen and (max-width: 600px) {
    .socmed {
      width: calc(90vw - 4rem);
      margin-inline: 2rem;
    }
    .socmedFooter {
      width: auto;
    }
  }
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .socmedFooter {
      width: 20vw;
    }
  }
}

.socmed {
  a {
    transition: scale 200ms ease-in;
    &:hover {
      scale: 1.2;
    }
  }
}
