@use "../abstracts/variables";

.home {
  .wannabe {
    font-size: 1.5rem;
    color: variables.$first;
    margin-bottom: 1rem;
    background-color: variables.$second;
    width: fit-content;
  }
  .links {
    background-color: variables.$third;
    color: variables.$first;
    font-weight: 500;
    p {
      width: 15rem;
      text-align: center;
    }
  }
  @media only screen and (max-width: 600px) {
    .detailTop{
      margin: 0 3rem;
    }
    .wannabe {
      width: auto;
    }
    .desc {
      text-align: center;
    }
  }
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .links {
      width: 66%;
    }
    .desc {
      max-width: 100%;
    }
  }
}

.photo {
  img {
    width: 27.5vw;
    position: absolute;
    right: calc(10rem);
    top: calc(81px + 3rem - 2px);
    box-shadow: -1px 18px 32px 0px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: -1px 18px 32px 0px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: -1px 18px 32px 0px rgba(0, 0, 0, 0.9);
    transition: 0.5s all;
    &:hover {
      border-top-right-radius: 5rem;
      border-bottom-left-radius: 5rem;
    }
    @media only screen and (max-width: 600px) {
      width: auto;
      max-height: 80vw;
      object-fit: cover;
      position: static;
      margin-top: 1rem;
    }
    @media only screen and (min-width: 601px) and (max-width: 768px) {
      right: calc(4rem);
    }
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
      right: calc(5rem);
      width: 27vw;
    }
    @media only screen and (min-width: 1441px){
      width: 27rem;
    }
  }
}

.links {
  a {
    position: relative;
    max-width: 5vw;
    border: 2px solid var(--color-third);
    background-color: white;
    transition: all 0.5s ease;
    &:hover {
      scale: 1.2;
      color: variables.$second !important;
      border-radius: 1rem;
      border: 2px solid transparent;
      background-color: variables.$sixth;
    }
    &:active{
      scale: 1.1;
    }
  }
  @media only screen and (max-width: 600px) {
  a{
    max-width: none;
  }
  }
}

.socmed{
  margin: 0 3rem;
  a{
    &:active{
      color: variables.$second;
    }
  }
}
