@use "../abstracts/variables";
@use "../abstracts/mixins";

.navbar {
  font-weight: calc(variables.$weight-normal + 100);
  height: 5rem;
  border-bottom: 1px solid variables.$second;
  .logo {
    @include mixins.logo;
  }
  ul {
    list-style: none;
    width: 20rem;
  }
  .chat {
    transition: all 0.25s ease-out;
    border: 1px solid variables.$black;
    border-radius: 0.25rem;
    &:hover {
      color: variables.$first;
      background-color: variables.$third;
      border: 1px solid variables.$third;
    }
  }
}
