.navbar {
  background-color: $black;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__hamburger {
    display: none;
    color: white;
    padding: 15px;
    font-size: 20px;

    @include responsive(tablet) {
      display: block;
    }
  }

  &__separator {
    width: 450px;

    @include responsive(desktop) {
      display: none;
    }

    @include responsive(desktopLg) {
      width: 300px;
    }
  }

  .logo {
    @include logo;
  }

  ul {
    list-style: none;
    display: flex;
    color: $white;
    text-transform: uppercase;
    margin: 10px;

    @include responsive(tablet) {
      display: none;
    }

    li {
      height: auto;
      padding: 10px;

      a {
        padding: 10px;
        position: relative;

        &::after {
          content: attr(data-name);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, 10%);
          background-color: $white;
          border-radius: 3rem;
          font-weight: 600;
          padding: 10px;
          color: $black;
          z-index: -1;
          transition: transform 0.125s ease;
        }
      }

      &:hover {
        a::after {
          transform: translate(-50%, -50%);
          z-index: 0;
        }
      }
    }
  }

  &__connector {
    display: none;
    width: 24px;
    height: 5px;
    background-color: $yellow;
    position: absolute;
    right: 26px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.25s ease-in;

    &::before,
    &::after {
      content: "";
      width: 24px;
      height: 5px;
      background-color: $black;
      position: absolute;
      border-radius: 2rem;
    }

    &::before {
      top: -3px;
    }

    &::after {
      top: 3px;
    }
  }

  &__chat {
    position: relative;

    @include responsive(tablet) {
      position: absolute;
      right: 55px;
    }

    span {
      display: block;
      border: 2px solid $black;
      border-radius: 3rem;
      color: $white;
      padding: 5px 15px;
      transform: translateX(0);
      background-color: $black;
      transition: all 0.25s ease-out;
      z-index: 2;
      position: relative;
      font-size: 1.125rem;

    }

    &_icon {
      display: none;
      position: absolute;
      top: 50%;
      right: 0;
      opacity: 0;
      transform: translateY(-50%);
    }

    &:hover {
      span {
        transform: translateX(-50px);
        color: $first;
        border-color: $yellow;
        font-weight: 600;
      }

      .navbar__chat_icon {
        display: block;
        background-color: $yellow;
        color: $black;
        padding: 5px;
        border-radius: 50%;
        opacity: 1;
      }

      .navbar__connector {
        opacity: 1;
        display: block;
      }
    }
  }

  &--active {
    position: relative;
    transition: all 0.25s ease;

    ul {
      @include responsive(tablet) {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: $black;
        padding: 0;
        margin: 0;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }

      li {
        @include responsive(tablet) {
          margin-top: 10px;
        }

        &:last-child {
          @include responsive(tablet) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}